@model SecelPartner.Core.Entities.SendEmail
@{
    Layout = "/Views/Shared/_LayoutVisitor.cshtml";
    ViewData["Title"] = "Contact Us";
}
<div class="modal-dialog modal-dialog-centered">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">
                    <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Contact us</h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                </div>
                <form asp-action="ContactUs">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control" id="name" type="text" placeholder="Enter your name..." />
                        <label asp-for="Name" for="name">Full name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input asp-for="FromEmail" class="form-control" id="email" type="email" placeholder="name@example.com" />
                        <label asp-for="FromEmail" for="email">Email address</label>
                        <span asp-validation-for="FromEmail" class="text-danger"></span>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input asp-for="Tel" class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" />
                        <label asp-for="Tel" for="phone">Phone number</label>
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea asp-for="Message" class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                        <label asp-for="Message" for="message">Message</label>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-grid"><input class="btn btn-primary rounded-pill btn-lg " type="submit" name="Envoyer" value="Envoyer" /></div>
                </form>
            </div>
        </div>
    </div>
</div>