@{
    Layout = "/Views/Shared/_LayoutRapport.cshtml";
}
<section class="invoice">
    <partial name="Rapportpartner" />
</section>
<script>
    window.addEventListener("load", window.print());
</script>
